{% extends "product/base.html" %}
{% block content %}

<style>
#line{
    text-decoration-line: underline;
    text-underline-offset: 6px;
}
</style>


  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5 font-weight-bold" id="line">Login </h3>
              
              <form action="" method="POST">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="" for="form1Example13">Email address</label>
                  <input name="email" type="email" id="form1Example13" class=" boder form-control border border-success form-control-lg " /> 
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="" for="form1Example23">Password</label>
                  <input name="password" type="password" id="form1Example23" class="form-control border border-success form-control-lg" />
                  
                </div>
      
                <div class="d-flex justify-content-around align-items-center mb-4">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      value=""
                      id="form1Example3"
                      checked
                    />
                    <label class="form-check-label me-5" for="form1Example3"> Remember me </label>
                  </div>
                  <a class=" ms-5" href="#!">Forgot password?</a>
                </div>
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Log In</button>
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted w-100">OR</p>
                </div>
      
                <a class="btn btn-primary btn-lg btn-block mb-4 w-100" style="background-color: #3b5998" href="{% url 'social:begin' 'facebook' %}" role="button">
                  <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                </a>
                
                {% comment %} <a class="btn btn-primary btn-lg btn-block w-100" style="background-color: #55acee" href="#!" role="button">
                  <i class="fab fa-twitter me-2"></i>Continue with Twitter</a> {% endcomment %}
      
              </form>
              
  
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}